<style>
body{background: url('/assets/b.jpg');
max-width:100%;
height:auto;
max-height:100%;
background-repeat: no-repeat;}
</style>

<div class='homes-panel'>
<div class="jumbotron jumbotron-billboard">
  <div class="img"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Private Events</h2>
        <p>
          Create events<br>Attend events<br>Network<br>
        </p>
        <div class="btn btn-info">
          <% if !logged_in? %>
          <%= link_to 'Get started!', new_user_path %><br>
        </div>
        <% end %>
        <div class="btn btn-info">
          <%= link_to 'View events', events_path %> 
        </div>
      </div>
    </div>
  </div>
</div>
</div>



